<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="float9.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
        <ul>
          <li>
            위원은 정당에 가입하거나 정치에 관여할 수 없다. 이 헌법공포 당시의
            국회의원의 임기는 제1항에 의한 국회의 최초의 집회일 전일까지로 한다.
            모든 국민은 법률이 정하는 바에 의하여 납세의 의무를 진다.
          </li>
        </ul>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          국가는 모성의 보호를 위하여 노력하여야 한다. 대통령의 임기연장 또는
          중임변경을 위한 헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는
          효력이 없다.
        </p>

        <p>
          헌법재판소는 법률에 저촉되지 아니하는 범위안에서 심판에 관한 절차,
          내부규율과 사무처리에 관한 규칙을 제정할 수 있다. 누구든지 병역의무의
          이행으로 인하여 불이익한 처우를 받지 아니한다.
        </p>

        <p>
          군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 언론·출판은
          타인의 명예나 권리 또는 공중도덕이나 사회윤리를 침해하여서는 아니된다.
          언론·출판이 타인의 명예나 권리를 침해한 때에는 피해자는 이에 대한
          피해의 배상을 청구할 수 있다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <ul>
          <li>
            법률안에 이의가 있을 때에는 대통령은 제1항의 기간내에 이의서를 붙여
            국회로 환부하고, 그 재의를 요구할 수 있다. 국회의 폐회중에도 또한
            같다.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
