<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #ddd;
      }
      .box {
        background-color: white;
        height: 50px;
        /* overflow: hidden; */
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="../images/left-arrow.png" alt="" class="left" />
      <img src="../images/right-arrow.png" alt="" class="right" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex est
        neque libero tempora rerum quo consequatur voluptate voluptatem
        repellendus harum nemo reiciendis quos minus distinctio nobis maxime
        iure, aliquid adipisci ullam. Magnam qui aspernatur dolorem doloribus
        saepe omnis dolores cupiditate, maxime harum doloremque accusamus aut
        nobis consectetur ea, eius eos ullam modi! Molestiae harum temporibus
        architecto natus. Itaque, ipsum ipsa veritatis nihil voluptatum
        reprehenderit soluta ducimus harum consequatur? Molestiae quidem
        architecto incidunt unde sequi laboriosam neque! Id, nobis quasi
        blanditiis libero aut obcaecati harum, enim non provident repellat
        eveniet iure distinctio pariatur tempore, ut nemo. Ea consequuntur nihil
        quibusdam.
      </p>
    </div>
  </body>
</html>
