<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .picture {
        float: left;
      }
      p {
        border: 10px solid;
      }
    </style>
  </head>
  <body>
    <div class="picture">
      <img src="http://placehold.it/200x200" alt="" />
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eum amet
      veritatis quae magni labore tempore, facilis nisi sed aut unde aspernatur
      asperiores vitae voluptatum voluptas. Dicta quo, velit nesciunt commodi,
      adipisci sequi eaque, est expedita id deserunt veniam accusamus aut
      pariatur a. Quos accusantium nihil a vel fugit repellat voluptates, rem
      mollitia, aperiam optio, architecto pariatur eveniet porro expedita in.
      Vitae voluptates vero voluptatibus inventore vel! Magni voluptates ipsa
      vitae illum cum doloremque adipisci ipsum enim optio quae dicta maiores
      fugit quam, facere iure repudiandae dolore id eaque quis molestiae animi
      eius autem! Sit natus quasi pariatur exercitationem earum odit tempore
      ipsa nesciunt blanditiis repudiandae similique, esse quam nisi! Quos
      nostrum impedit voluptate libero accusantium officiis alias perferendis
      quis ratione sapiente excepturi quod sequi beatae, laborum quidem! Dicta
      similique reiciendis magnam neque unde veniam natus, impedit consequatur
      ducimus sapiente deleniti maiores alias velit qui excepturi accusamus ea,
      distinctio explicabo saepe, reprehenderit eligendi? Officia laboriosam
      aliquid dolore vitae. Provident tempora accusamus tenetur inventore
      asperiores voluptates non in beatae quo tempore explicabo blanditiis
      temporibus voluptate suscipit reprehenderit aliquid iste accusantium
      officia sunt cupiditate vitae ipsum, qui odit. Asperiores unde deserunt
      facere, nisi sint fugit quia laudantium nihil consequuntur, fuga molestiae
      corporis atque pariatur dolorem autem accusantium sunt velit, illo quos
      eius. Voluptatem dolorum sed necessitatibus velit repellat. Odit eligendi
      veritatis voluptas fugit ad cum, eius aliquid? Inventore natus saepe
      corporis itaque magni expedita rem accusantium fugit eos, corrupti dolore
      cupiditate, ab neque autem, architecto provident culpa. Asperiores
      assumenda facere quo, hic modi, consequatur cum molestiae minus excepturi
      odio totam? Alias distinctio accusantium minima aliquam nesciunt harum,
      quia sunt illum, sint dolores, sapiente saepe incidunt eligendi. Sed est
      ullam minima odit odio consectetur harum fugiat nesciunt culpa, pariatur
      possimus vero eum quae exercitationem tempora? Totam dolores, ex officiis
      accusamus aliquam sunt in?
    </p>
  </body>
</html>
