/* 모든 영역(div)에 테두리 넣기 : 1px, 실선, #ccc
    #container : 가로 960px. padding 20px
    #header : padding 20px, 아래쪽 마진 20
    #contents : width 620px, 아래쪽 마진 20
    #sidebar : width 220px, padding 20px
    #footer : padding 20px
*/
div {
  border: 1px solid #ccc;
}

#container {
  width: 960px;
  padding: 20px;
  margin: 0 auto; /* 가운데 정렬 */
}

#header {
  padding: 20px;
  margin-bottom: 20px;
}

#contents {
  float: left;
  width: 620px;
  margin-bottom: 20px;
}

#sidebar {
  float: right;
  width: 220px;
  padding: 20px;
  margin-bottom: 20px;
}

#footer {
  padding: 20px;
  clear: both;
}
