<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .overflow {
        background-color: silver;
        border: 1px solid;
        height: 200px;
        overflow: visible; /* hidden, scroll */
      }
    </style>
  </head>
  <body>
    <p class="overflow">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam beatae
      illum commodi explicabo corrupti rem magnam laboriosam placeat veniam
      adipisci libero iste asperiores doloribus, pariatur, enim inventore qui
      reiciendis eos quasi error expedita quas harum. Est sunt temporibus id
      iure possimus sint incidunt molestias magni? Explicabo tenetur itaque,
      mollitia nisi placeat nobis nemo voluptatibus, esse officia sunt,
      repudiandae quos. Vitae, odio libero. Autem ut tenetur adipisci rerum
      dicta temporibus voluptatibus ratione magni mollitia, recusandae
      asperiores reiciendis dignissimos reprehenderit facilis, qui error nihil
      ipsa necessitatibus incidunt sint excepturi, sunt minima unde? Neque
      assumenda reprehenderit ipsam dignissimos tempora voluptatem cumque alias
      reiciendis corporis iusto tenetur veniam, perspiciatis quibusdam odit
      voluptate maxime, praesentium dolorem. Soluta ab, repudiandae tempora aut
      optio labore quos nulla eligendi ipsa eum sunt doloribus quis, voluptates
      perspiciatis, vitae nemo. Assumenda dolorem tenetur esse minus nam
      possimus ullam nemo rem? Reiciendis tenetur impedit iusto et qui molestiae
      a harum dolore, rem alias rerum quibusdam nostrum nihil explicabo. Aut
      numquam maxime similique accusantium modi quas, culpa dolorem soluta cum
      eos nihil praesentium distinctio quisquam ex esse rerum deserunt ipsa
      repellat explicabo id totam sequi molestias! Hic, dicta quasi! Aspernatur
      commodi maxime consectetur omnis ducimus quidem veniam amet, illum ex
      repellat eveniet facere incidunt ea id aliquid iusto totam expedita enim
      repellendus quaerat? Consequatur, aliquid eum. Pariatur id voluptate minus
      ipsa iste corporis repellendus? Possimus impedit quas facilis eveniet
      soluta beatae eos dolor nemo, obcaecati quibusdam officiis minus culpa,
      sapiente vitae natus adipisci veniam doloribus! Sed voluptatibus amet
      delectus atque nisi quidem excepturi possimus. Perferendis reiciendis
      impedit delectus officia libero illo quam eligendi dolores vel alias
      placeat atque veniam porro consequatur, odio repudiandae id distinctio!
      Ea, totam ratione iusto distinctio aperiam soluta libero harum dolores?
      Tenetur sint id laborum repellendus recusandae inventore quae eaque
      delectus deleniti amet dolorem, odit optio similique minima aspernatur
      excepturi. Ipsum possimus magnam incidunt, repudiandae expedita quis
      laboriosam sint totam eaque quos hic quibusdam tempore enim nihil quae sit
      similique, fuga soluta deleniti? Odit eaque ea, dolorem quam ex,
      reiciendis aliquid praesentium eum facere suscipit exercitationem rem
      autem maxime error odio et, nisi aut nulla possimus earum deserunt
      voluptate voluptatem explicabo! Corporis sunt, quas delectus consectetur
      dolorem enim at sequi voluptates. Iste vitae dolore animi asperiores odio
      ab culpa corrupti, non facere inventore exercitationem aut aliquid nobis
      nam sed optio, sequi voluptas eos iure similique quibusdam fugiat unde
      praesentium quia. Eos quisquam dicta vitae, temporibus quasi cupiditate
      porro neque tempora! Commodi eligendi voluptatibus repellendus tenetur
      nisi sapiente beatae possimus velit exercitationem autem. Nihil tenetur
      saepe dolore ducimus in maiores! Ducimus facere error sapiente voluptate,
      sequi excepturi facilis vero voluptatibus provident omnis quae mollitia at
      repudiandae ea, commodi aliquam in labore recusandae dignissimos ad natus
      enim eum. Sequi eaque omnis laudantium quis aliquam saepe doloremque esse
      dicta, illum, asperiores, cumque necessitatibus qui quo ex maxime dolor.
      Magni quasi maiores exercitationem dolor recusandae laborum alias officia,
      expedita ex suscipit fugiat, quis sit perferendis. Quasi corrupti, porro
      reiciendis molestias sed, obcaecati qui quas fuga repellendus id
      recusandae distinctio commodi explicabo. Culpa!
    </p>
  </body>
</html>
