<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .lastest-news {
        width: 350px;
        height: 145px;
        border: 2px solid #ccc;
        margin-top: 40px;
        position: relative; /* 기준으로 잡아준다. */
      }
      .read-more {
        color: white;
        background-color: black;
        text-decoration: none;
        padding: 0 10px;
        position: absolute; /* 속해있는 class 내에서 절대위치로 지정 */
        right: 0;
        bottom: calc(100% + 10px); /* 155px */
      }
    </style>
  </head>
  <body>
    <div class="lastest-news">
      <ul>
        <li>리스트 1</li>
        <li>리스트 2</li>
        <li>리스트 3</li>
        <li>리스트 4</li>
        <li>리스트 5</li>
      </ul>
      <a href="#" class="read-more">Read more</a>
    </div>
  </body>
</html>
