<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid;
        padding: 10px;
        position: relative;
      }
      .a {
        background: blue;
        left: 50px;
        top: 50px;
      }
      .b {
        background: red;
        left: 50px;
        top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="box a">
      <img src="http://placehold.it/100x120" alt="" />
    </div>
    <div class="box b">
      <img src="http://placehold.it/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam totam
      obcaecati numquam saepe. Ab delectus, nulla fuga vero in enim minima
      dolorum. Vel, mollitia quasi porro soluta amet sed velit sint, architecto
      vero laborum quia at doloribus. Pariatur beatae adipisci dignissimos
      repellendus. Beatae eligendi ab possimus autem, placeat vitae officia
      fugiat perspiciatis at iste maxime, reiciendis impedit! Rerum aut aliquam
      aspernatur, ullam nemo enim doloribus sit quos voluptatum quidem dolore
      voluptatem blanditiis aperiam sunt cum voluptates dolor labore omnis
      accusantium! Laborum, perferendis. Fuga nesciunt possimus cumque at iusto
      exercitationem in ad, alias corrupti ipsam repellendus? Consequuntur
      quibusdam ab illum mollitia.
    </p>
  </body>
</html>
